.fadeIn-enter {
  opacity: 0;
 }
 
 .fadeIn-enter-active {
   opacity: 1;
  
   transition: opacity 500ms;
   }
 
 
 
   .fadeIn-exit {
     opacity: 1;
 
    }
 
    .fadeIn-exit-active {
     opacity: 0;
   
     transition: opacity 500ms;
   }