@import-normalize;
@import '~antd/dist/antd.css';

body {
  font-size: 18px;
  --bg-main: #fff;
  --bg-base: #f7efdd;
  --border-color-base: #34343a;
  --border-color-main: #44444e;
  --border-color-highlight: #64646e;
  --text-base: #182445;
  --text-main: #182445;
  --text-secondary: #182445;
  --green: #91bb5c;
--blue	: #32549d;
--indigo: #5083f4;
--orange: #ffb42a;
--red: #e64948;
--success: #91bb5c;
--primary:#32549d;
--warning	: #ffb42a;
--danger: #e64948;
--info: #5083f4;


  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



.taskStyle {
  -webkit-font-smoothing: antialiased;

cursor: pointer;

box-sizing: border-box;
border-radius: 15px;
display: inline-block;

height: 20px;

outline: none;
overflow: hidden;
padding: 0 6px;
margin: 0 2px;
transition: box-shadow 150ms cubic-bezier(.2, .6, .6, 1), opacity 150ms cubic-bezier(.2, .6, .6, 1);
vertical-align: middle;
white-space: nowrap;

background-color: #808080;

}

.bg-client-green {
  background-color: #758659;
}

.react-date-picker__wrapper {
  border: none !important;
  width: 100%;
}

details summary::-webkit-details-marker {
  display:none;
}
